<div class="table-container">
  <div class="table">
    <table mat-table [dataSource]="items">

      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef #th>
          <div [style.width.px]="th.offsetWidth">
            <div>
              <div translate>{{col.name}}</div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element[col.key]}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
      <tr mat-row *matRowDef="let row; columns: columnKeys;"></tr>
    </table>
  </div>

  <div style="flex: 1"></div>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                 showFirstLastButtons
                 (page)="onPageEvent($event)"
                 [pageSize]="20"
                 [length]="total"
  >
  </mat-paginator>
</div>
