<div class="table-container">

  <mat-toolbar>
    <mat-toolbar-row>
      <h3>{{header}}</h3>

      <div style="flex: 1"></div>

      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="openColumnsEditor()">
        <mat-icon>view_column</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <app-loading-shade [isLoad]="isLoadingResults"></app-loading-shade>

  <div class="table">
    <mat-table  [dataSource]="items">

      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
        <mat-header-cell *matHeaderCellDef>
          <span translate>{{col.name}}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element[col.key]}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnKeys"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnKeys;"></mat-row>
    </mat-table>

    <div class="paginator">
      <div style="flex: 1"></div>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                     showFirstLastButtons
                     (page)="onPageEvent($event)"
                     [pageSize]="20"
                     [length]="total"
      >
      </mat-paginator>
    </div>
  </div>
</div>
