<ng-template ngFor [ngForOf]="elements" [ngForTemplate]="main"></ng-template>
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <ng-template ngFor [ngForOf]="elements" [ngForTemplate]="data"></ng-template>
</mat-menu>

<ng-template #data let-item="$implicit">
    <button *ngIf="item.render()" mat-menu-item (click)="item.callback(row)">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
    </button>
</ng-template>

<ng-template #main let-item="$implicit">
    <button *ngIf="item.render() && item.primary" mat-icon-button matTooltip="{{item.label}}" (click)="item.callback(row)">
        <mat-icon>{{item.icon}}</mat-icon>
    </button>
</ng-template>

