<wm-table id="users-table" config="tableConfig" title="Users">
    <table-menu>
        <button ng-click="createUser()" class="ui icon green button">
            <i class="add user icon"></i>
        </button>
    </table-menu>

    <table-column id="rnum" label="№" disable-sort="true" width="5" disable-filter="true"></table-column>
    <table-column id="login" label="Login" width="15"></table-column>
    <table-column id="name" label="Name" width="15"></table-column>
    <table-column id="surname" label="Surname" width="15"></table-column>
    <table-column id="email" label="E-mail" width="15"></table-column>
    <table-column id="birthday" label="Birthday" width="15" type="date"></table-column>

    <table-row-menu width="10">
        <div class="right aligned">
            <div class="ui mini buttons">
                <button class="ui yellow icon button" ng-click="editUser(row.id)" wm-tooltip="Edit user">
                    <i class="write icon"></i>
                </button>
                <button wm-confirm-click="Are you sure to delete user?" class="ui red icon button"
                        action="removeUser(row.id)" wm-tooltip="Remove user">
                    <i class="remove user icon"></i>
                </button>
            </div>
        </div>
    </table-row-menu>
</wm-table>