<div class="ui one column grid">
	<ng-transclude></ng-transclude>
	<div class="column">
        <div class="ui tablet stackable two column grid">
            <div class="column">
                <!--<strong style="font-size: large">{{config.title}}</strong>-->
            </div>
            <div class="right aligned column">
                <div wm-table-menu
                     refresh-action="refreshData"
                     rows-on-page="config.rowsOnPage"
                     headers="config.columns"
                     filter-config="config.filter"
                     table-menu="config.tableMenu"
                     actions="config.actions">
                </div>
            </div>
        </div>
	</div>

	<div class="column">
        <table class="ui tablet stackable selectable striped table"
               st-table="data" st-pipe="loadData">
            <colgroup>
                <col ng-repeat="column in config.columns.list" class="{{column.css}}" width="{{column.width}}" ng-show="isShowColumn($index)">
                <col ng-show="config.rowMenu" width="{{config.rowMenu.width}}">
            </colgroup>
            <thead>
            <tr>
                <th class="grid-header" ng-repeat="column in config.columns.list"
                    st-sort="{{!column.disableSort ? column.id : ''}}" ng-show="isShowColumn($index)"
                    ng-style="{cursor: !column.disableSort ? 'pointer' : ''}">
                    {{column.label}}
                </th>
                <th ng-show="config.rowMenu"></th>
            </tr>
            <tr ng-show="config.filter.display">
                <th ng-repeat="column in config.columns.list" ng-show="isShowColumn($index)">
                    <div ng-hide="column.disableFilter"
                         ng-switch="column.type">
                        <div ng-switch-when="string" class="ui small fluid input">
                            <input ng-model="config.filter.data[column.id]"
                                   st-search="{{::column.id}}" placeholder="{{::column.label}}"
                                   class="table-filter" ng-class="column.id" type="search"/>
                        </div>
                        <wm-date-time-picker id="filter-{{::column.id}}" ng-switch-when="date" format="dd.mm.yyyy"
                                             ng-model="config.filter.data[column.id]" st-model-search="{{::column.id}}"
                                             class="fluid table-filter" ng-class="column.id" use-current="false"
                                             show-clear="true" placeholder="{{::column.label}}" size="small">
                        </wm-date-time-picker>
                    </div>
                </th>
                <th ng-show="config.rowMenu"></th>
            </tr>
            </thead>
            <tbody ng-show="config.isLoading">
            <tr>
                <td colspan="{{config.columns.active}}">
                    <div class="ui inline large centered active loader"></div>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="!config.isLoading">
                <tr ng-repeat="row in data" ng-include='getTemplateUrl()'></tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center center aligned"
                    colspan="{{config.columns.active}}">
                    <div st-pagination=""
                         st-items-by-page="config.rowsOnPage"
                         st-displayed-pages="10"
                         st-template="/resources/directives/table/paginationTemplate.html">
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
	</div>

</div>