#sudo: required
dist: trusty

addons:
  chrome: stable

language: node_js
node_js:
  - '6.9'

env:
  global:
    - COMMIT=${TRAVIS_COMMIT::7}
    
cache:
  directories:
  - node_modules
  - $(npm config get prefix)

before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm list -g firebase-tools --depth=0 || npm install -g firebase-tools
  - npm list -g @angular/cli --depth=0 || npm install -g @angular/cli

script:
  - if [ "$TRAVIS_BRANCH" = "master" ]; then ng lint && ng test --single-run --code-coverage && ng e2e && ng build --prod; fi
  - if [ "$TRAVIS_BRANCH" != "master" ]; then ng lint && ng test --single-run --code-coverage && ng e2e && ng build --aot=true --environment=ci --output-hashing=all --sourcemaps=false --extract-css=true; fi

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - FIREBASE_PROJECT=default
  - if [ "$TRAVIS_BRANCH" = "master" ]; then FIREBASE_PROJECT=production; fi
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then firebase use $FIREBASE_PROJECT && firebase deploy --non-interactive --token $FIREBASE_TOKEN; fi
