#sudo: required
dist: trusty

addons:
  chrome: stable

language: node_js
node_js:
  - '6.9'

env:
  global:
    - COMMIT=${TRAVIS_COMMIT::7}

cache:
  directories:
  - node_modules
  - $(npm config get prefix)
  - functions/node_modules

before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm list -g tsc --depth=0 || npm install -g tsc
  - npm list -g tslint --depth=0 || npm install -g tslint
  - npm list -g firebase-tools --depth=0 || npm install -g firebase-tools
  - npm list -g @angular/cli --depth=0 || npm install -g @angular/cli

script:
  - 'npm run lint && (([ "$TRAVIS_BRANCH" = "master" ] && npm run build:prod) || ([ "$TRAVIS_BRANCH" != "master" ] && npm run build:ci))'

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - FIREBASE_PROJECT=default
  - if [ "$TRAVIS_BRANCH" = "master" ]; then FIREBASE_PROJECT=production; fi
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then cd functions && npm install; cd ..; fi
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then firebase use $FIREBASE_PROJECT && firebase deploy --non-interactive --token $FIREBASE_TOKEN; fi

notifications:
  webhooks: https://fathomless-fjord-24024.herokuapp.com/notify

