<div mat-dialog-title class="h2">
    <span *ngIf="!data.readonly" translate>ADMIN.ROLES.DIALOG.TITLE-EDIT</span>
    <span *ngIf="data.readonly" translate>ADMIN.ROLES.DIALOG.TITLE-VIEW</span>
    <app-lang-selector #langSelector class="mat-dialog-title-icon-suffix"></app-lang-selector>
</div>
<mat-dialog-content>
    <div style="display: flex; flex-direction: row; width: 100%">
        <div style="display: flex; flex-direction: column; width: 50%">
            <app-translated-input placeholder="{{'ADMIN.ROLES.DIALOG.FIELDS.NAME' | translate}}"
                                  [lang]="langSelector.selectedLang"
                                  [model]="roleName">
            </app-translated-input>

            <app-translated-textarea placeholder="{{'ADMIN.ROLES.DIALOG.FIELDS.DESCRIPTION' | translate}}"
                                     [lang]="langSelector.selectedLang"
                                     [model]="roleDescription"
                                     [rows]="10">
            </app-translated-textarea>
        </div>

        <div style="display: flex; flex-direction: column; margin-left: 8px; width: 50%">
            <app-multicomplete placeholder="{{'ADMIN.ROLES.DIALOG.FIELDS.PRIVILEGES' | translate}}"
                               [options]="permissionOptions"
                               [(value)]="rolePermissions"
            >
            </app-multicomplete>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="flex-end">
    <button mat-button color="primary" *ngIf="!data.readonly && access('edit-roles')" (click)="save()">
        <span translate>ADMIN.ROLES.DIALOG.ACTIONS.SAVE</span>
    </button>
    <button mat-button color="warn" (click)="cancel()">
        <span translate>ADMIN.ROLES.DIALOG.ACTIONS.CANCEL</span>
    </button>
</mat-dialog-actions>
