<div *ngIf="access('view-roles')">
    <mat-card>

        <mat-card-header>
            <mat-card-title class="h1"><span translate>ADMIN.ROLES.TITLE</span></mat-card-title>
        </mat-card-header>

        <mat-card-content class="mat-content-full-width">
            <mat-table #table [dataSource]="source">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>
                        <span translate>ADMIN.ROLES.TABLE.COL.NAME</span></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <app-translated-text [model]="element.val.name"></app-translated-text>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>
                        <span translate>ADMIN.ROLES.TABLE.COL.DESCRIPTION</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <app-translated-text [model]="element.val.description" [truncate]="true"></app-translated-text>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="table-actions">
                        <span translate>ADMIN.ROLES.TABLE.COL.ACTIONS</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="table-actions flex-end">
                        <app-row-menu [elements]="rowMenu" [row]="element"></app-row-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator (page)="source.refresh($event)"
                          [length]="source.length"
                          [pageIndex]="0"
                          [pageSize]="10"
                          [pageSizeOptions]="[10, 25, 50, 100]">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
