<app-list-chart-card
  [listData]="exps"
  [chartData]="chartData"
  [isLoad]="isLoad"
  [chartType]="'pie'"
  (dataRequest)="load($event)"
>

  <ng-template #header let-count="count">
    <span>Топ {{count}} используемых технологий</span>
  </ng-template>

  <ng-template #listItemHeader let-exp="item">
    <span>
      {{exp.spec.tech.title}}
    </span>
  </ng-template>

  <ng-template #listItemText let-exp="item">
    <a [routerLink]="['skills', 'specifications', exp.spec.id]"
       [matTooltip]="exp.days | duration">
      {{exp.spec.title}}
    </a>
  </ng-template>

  <ng-template #chart let-data="data" let-size="size">
    <ngx-charts-pie-chart [results]="data" [view]="size" [labels]="false" [doughnut]="false">
      <ng-template #tooltipTemplate let-model="model">
        <div class="chart-tooltip">
          <span>{{model.name}}</span>
          <span>{{model.value | duration}}</span>
        </div>
      </ng-template>
    </ngx-charts-pie-chart>
  </ng-template>

</app-list-chart-card>
