<ng-container *ngIf="ready else loading">
  <ng-container *ngIf="!broken else fatal">
    <div #container class="content" [class.root]="root">
      <ng-content></ng-content>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div style="display: flex; width: 100%; height: 100%; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #fatal>
  <div>
    <h1>Fatal error!</h1>
    <h2>Will not work</h2>
  </div>
</ng-template>
