@import "~sass/size";

.content {
  height: 100%;

  &.root {
    overflow: hidden;
  }

  &:not(.root) {
    overflow-y: auto;
  }
}

:host {
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
}
