<ng-container *ngIf="ready; else loading">
  <ng-container *ngIf="!broken; else fatal">
      <ng-container *ngIf="root || !sideMenu; else menu">
        <div class="content" *ngTemplateOutlet="content" [class.root]="root"></div>
      </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div style="display: flex; width: 100%; height: 100%; align-items: center; justify-content: center;">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #fatal>
  <div>
    <h1>Fatal error!</h1>
    <h2>Will not work</h2>
  </div>
</ng-template>

<ng-template #menu>
  <app-side-menu [items]="sideMenu">
    <div class="content" *ngTemplateOutlet="content"></div>
  </app-side-menu>
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
