<div ng-if="numPages && pages.length >= 2" class="ui small pagination menu">
    <a class="icon item" ng-click="selectPage(1)"><i class="angle double left icon"></i></a>
    <a class="icon item" ng-click="selectPage(((currentPage - 1) < 1) ? 1 : (currentPage - 1))"><i class="angle left icon"></i></a>
    <a ng-repeat="page in pages" class="item" ng-class="{active: page==currentPage}" ng-click="selectPage(page)">{{page}}</a>
    <a class="icon item" ng-click="selectPage(((currentPage + 1) > numPages) ? numPages : (currentPage + 1))"><i class="angle right icon"></i></a>
    <a class="icon item" ng-click="selectPage(numPages)"><i class="angle double right icon"></i></a>
</div>