<div>
    <div class="ui small icon buttons">
        <div wm-bind-html="tableMenu.html"></div>
    </div>
    <div class="ui small icon buttons">
        <button ng-click="refreshAction()" class="ui teal button">
            <i class="refresh icon"></i>
        </button>

        <wm-dropdown class="ui top right pointing dropdown button" ng-show="filterConfig">
            <i class="filter icon"></i>
            <div class="menu">
                <a href="#" class="item" ng-show="filterConfig.display" ng-click="filterConfig.toggle()">Hide filter</a>
                <a href="#" class="item" ng-hide="filterConfig.display" ng-click="filterConfig.toggle()">Show filter</a>
                <div class="divider"></div>
                <a href="#" class="item" ng-click="filterConfig.clear()">Clear all</a>
            </div>
        </wm-dropdown>

        <wm-dropdown class="ui top right pointing dropdown button">
            <span class="dropdown-text">{{rowsOnPage}}</span>
            <div class="menu">
                <a class="item" ng-repeat="pageRowNum in pageRowsNum"
                   href="#" ng-click="selectPageRowsNum(pageRowNum)">
                    {{pageRowNum}}
                </a>
            </div>
        </wm-dropdown>

        <wm-dropdown class="ui top right pointing dropdown button">
            <i class="list layout icon"></i>
            <div class="menu">
                <div ng-repeat="header in headers.list" class="item">
                    <div class="ui checkbox">
                        <input ng-model="header.visible" type="checkbox"
                               ng-change="recalcColumnsCount()">
                        <label>{{header.label}}</label>
                    </div>
                </div>
            </div>
        </wm-dropdown>
    </div>
</div>