@import "~@angular/material/theming";
@import "~sass/theme";
@import "../story";

:host {
  display: flex;
  flex-direction: row;

  .story-date {
    width: 150px;
    text-align: right;
    margin: 25px 16px 8px 8px;
  }

  .story-element {
    @include timeline();
    flex: 1;

    @include full-disc();

    &:after {
      top: 27px;
    }
  }

  &:first-of-type {
    .story-element {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &:not(:first-of-type):not(:last-of-type) {
    .story-element {
      border-radius: 0;
    }
  }

  &:last-of-type {
    .story-element {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
