<mat-card-content>
    <app-loading-content *ngIf="access('view-user-roles')" [ready]="ready" [request]="request">
        <app-multicomplete placeholder="User roles"
                           [options]="rolesOptions"
                           [(value)]="userRoles"
        >
        </app-multicomplete>
    </app-loading-content>
</mat-card-content>
<mat-card-actions style="margin-bottom: 0px;">
    <button mat-button *ngIf="access('edit-user-roles')" color="primary" (click)="update()">
        <span>Save</span>
    </button>
    <button mat-button color="warn" (click)="reset()">
        <span>Reset</span>
    </button>
</mat-card-actions>
