<app-loading-content [ready]="user">
    <mat-card *ngIf="user">

        <mat-card-header>
            <div mat-card-avatar [style.background-image]="'url(' + user.avatarUrl + ')'"></div>
            <mat-card-title><span>{{user.displayName}}</span></mat-card-title>
            <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </mat-card-header>

        <nav mat-tab-nav-bar class="mat-content-full-width" style="margin-bottom: 20px;">
            <a mat-tab-link routerLink="info"
               routerLinkActive #listRla="routerLinkActive"
               [active]="listRla.isActive"
            >
                <span translate>ADMIN.USER.TABS.PROFILE-INFO</span>
            </a>
            <a mat-tab-link routerLink="roles" *ngIf="access('view-user-roles')"
               routerLinkActive #timelineRla="routerLinkActive"
               [active]="timelineRla.isActive"
            ><span translate>ADMIN.USER.TABS.ROLES</span></a>
            <a mat-tab-link routerLink="permissions" *ngIf="access('view-user-perms')"
               routerLinkActive #timelineRla="routerLinkActive"
               [active]="timelineRla.isActive"
            ><span translate>ADMIN.USER.TABS.PERMS</span></a>
        </nav>
        <router-outlet></router-outlet>
    </mat-card>
</app-loading-content>
