<mat-card-content>
    <app-loading-content [ready]="user" style="display: flex; flex-direction: row;">
        <div style="display: flex; flex-direction: column; margin-right: 10px;">
            <span translate>ADMIN.USER.CONTENT.PROFILE-INFO.FIELDS.DISPLAY-NAME</span>
            <span translate>ADMIN.USER.CONTENT.PROFILE-INFO.FIELDS.EMAIL</span>
            <span translate>ADMIN.USER.CONTENT.PROFILE-INFO.FIELDS.ACCEPTED</span>
        </div>
        <div style="display: flex; flex-direction: column;">
            <span>{{user.displayName}}</span>
            <span>{{user.email}}</span>
            <mat-icon color="primary">{{user.accepted ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        </div>
    </app-loading-content>
</mat-card-content>
