<app-module-wrapper>
  <ng-template #wrapperContent>
    <div class="scrollable-y">
      <mat-accordion>
        <app-projects-expansion-card></app-projects-expansion-card>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span translate>SKILLS.TITLE.ACTIVE-PUBLIC-PROJECTS</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>test</p>

          <mat-action-row>
            <button mat-button>Click me</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-template>
</app-module-wrapper>
