<ng-progress thick="true" [showSpinner]="false"></ng-progress>
<div [ngSwitch]="ready" style="height: 100%; margin: 8px;">
    <div *ngSwitchCase="true">
        <div [ngSwitch]="broken">
            <div *ngSwitchCase="false">
                <md-toolbar>
                    <div class="header" (click)="onTitleClick()">
                        <app-translated-text [model]="name"></app-translated-text>
                    </div>
                    <nav>
                        <a md-button routerLink="blog">
                            <span translate>MENU.BLOG</span>
                        </a>
                        <a md-button routerLink="skills">
                            <span translate>MENU.SKILLS</span>
                        </a>
                        <a md-button routerLink="projects">
                            <span translate>MENU.PROJECTS</span>
                        </a>
                    </nav>
                    <span class="h-spacer"></span>
                    <app-auth></app-auth>
                </md-toolbar>
                <!--<md-card>-->
                <router-outlet></router-outlet>
                <!--</md-card>-->
            </div>
            <div *ngSwitchCase="true">
                <h1>Fatal error!</h1>
                <h2>Application can't work</h2>
            </div>
        </div>
    </div>
    <div
        *ngSwitchCase="false"
        style="display: flex; width: 100%; height: 100%; align-items: center; justify-content: center;"
    >
        <md-spinner></md-spinner>
    </div>
</div>
