<ng-progress thick="true" [showSpinner]="false"></ng-progress>
<div *ngIf="ready else loading" style="height: 100%;">
    <div *ngIf="!broken else fatal" style="height: 100%;">

        <md-toolbar class="main-toolbar">
            <div class="header" (click)="onTitleClick()">
                <app-translated-text [model]="name"></app-translated-text>
            </div>
            <nav>
                <a md-button routerLink="blog">
                    <span translate>MENU.BLOG</span>
                </a>
                <a md-button routerLink="skills">
                    <span translate>MENU.SKILLS</span>
                </a>
                <a md-button routerLink="projects">
                    <span translate>MENU.PROJECTS</span>
                </a>
                <a md-button routerLink="admin" *ngIf="access('view-admin')">
                    <span translate>MENU.ADMIN</span>
                </a>
            </nav>
            <span class="h-spacer"></span>
            <app-auth></app-auth>
        </md-toolbar>

        <div class="full-height">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>

<ng-template #loading>
    <div style="display: flex; width: 100%; height: 100%; align-items: center; justify-content: center;">
        <md-spinner></md-spinner>
    </div>
</ng-template>

<ng-template #fatal>
    <div>
        <h1>Fatal error!</h1>
        <h2>Application can't work</h2>
    </div>
</ng-template>
