<div class="ui icon header" style="border: 0; box-shadow: none;">
    <i class="help icon"></i>
    {{::title}}
</div>
<div class="content ui segment" style="margin: 0; border: 0; box-shadow: none;">
    <p>{{::message}}</p>
</div>
<div class="actions" style="border: 0; box-shadow: none;">
    <button class="ui green ok inverted button" type="button" ng-click="save()">
        <i class="checkmark icon"></i>
        Yes
    </button>
    <button class="ui red cancel basic inverted button" type="button" ng-click="close()">
        <i class="remove icon"></i>
        No
    </button>
</div>