<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="true">
        <nav>
            <h3>User management</h3>
            <ul>
                <li><a routerLink="users">Users</a></li>
                <li><a routerLink="roles">Roles</a></li>
            </ul>
        </nav>
        <nav>
            <h3>System management</h3>
            <ul>
                <li><a routerLink="audit">Audit</a></li>
                <li><a routerLink="">Logs</a></li>
                <li><a routerLink="">Status</a></li>
            </ul>
        </nav>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-container>
