<md-drawer-container class="full-height">
    <md-drawer mode="side" opened="true" class="full-height">
        <md-nav-list dense>
            <a md-list-item *ngIf="access('edit-config')" routerLink="application">
                <span translate>ADMIN.MENU.APP</span>
            </a>
            <a md-list-item *ngIf="access('view-users')" routerLink="users">
                <span translate>ADMIN.MENU.USERS</span>
            </a>
            <a md-list-item *ngIf="access('edit-roles')" routerLink="roles">
                <span translate>ADMIN.MENU.ROLES</span>
            </a>
        </md-nav-list>
    </md-drawer>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</md-drawer-container>
