<div *ngIf="access('edit-config')">

    <md-card>
        <md-card-header>
            <md-card-title-group>
                <md-card-title class="h1">
                    <span translate>ADMIN.APP.TITLE</span>
                </md-card-title>
            </md-card-title-group>
            <app-lang-selector #langSelector class="md-title-icon-suffix"></app-lang-selector>
        </md-card-header>

        <md-card-content>
            <app-translated-input placeholder="{{'ADMIN.APP.APP-NAME-LBL' | translate}}"
                                  type="text"
                                  [model]="appName"
                                  [lang]="langSelector.selectedLang"
            ></app-translated-input>
        </md-card-content>

        <md-card-actions>
            <button md-button color="primary" (click)="update()">
                <span translate>ADMIN.APP.UPDATE-BTN</span>
            </button>
            <button md-button color="warn" (click)="reset()">
                <span translate>ADMIN.APP.RESET-BTN</span>
            </button>
        </md-card-actions>
    </md-card>

</div>
