@import "~@angular/material/theming";
@import "~sass/theme";
@import "story";

$main-color: mat-color($app-primary);

:host {
  display: flex;
  flex-direction: column;
}

.story-line {
  &-begin {
    @include timeline();

    position: relative;
    margin-left: 174px;;
    margin-top: 10px;
    height: 25px;
    z-index: 1;

    @include center-disc();

    &:after {
      top: -5px;
    }
  }

  &-end {
    @include timeline();

    position: relative;
    margin-left: 174px;;
    margin-bottom: 25px;
    height: 25px;
    z-index: 1;

    @include empty-disc();

    &:after {
      bottom: -20px;
    }
  }
}
