@import "~sass/size";

:host {
  display: block;
  height: 100%;
}

mat-sidenav,mat-sidenav-container,
mat-drawer,mat-drawer-container {
  height: 100%;
}

mat-sidenav,mat-drawer {
  box-shadow: 3px 0 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.side-menu-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

@include gt-xs {
  .side-menu-button {
    display: none;
  }
}

.page-body {
  overflow: hidden;
  height: 100%;
}

.side-menu-container {
  .side-menu-items {
    flex-direction: column;

    ::ng-deep .mat-list-item-content {
      padding: 0;
    }

    .side-menu-item {
      width: calc(100%);
      height: 100%;
      text-align: left;
      padding-left: 16px;
      padding-right: 16px;
      flex-direction: row;
      display: flex;
      justify-content: left;
      align-items: center;

      mat-icon {
        padding-right: 5px;
      }
    }
  }
}
