@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
    height: 100%;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

body {
    margin: 0;
}

.h-spacer {
    flex: 1 1 auto;
}

.app-content {
    margin: 8px;
}


.full-height {
    height: 100%;
}

.mat-drawer-container {
    background-color: inherit !important;
}

.mat-drawer {
    width: 200px;
    background-color: inherit !important;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.main-toolbar {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    z-index: 10;
}
