@import "~sass/size";
@import "~sass/montserrat";
@import "~@angular/material/theming";
@import "~sass/theme";

:host {
  height: 100%;
  width: 100%;
}

.landing {
  height: 100%;
  width: 100%;
  overflow: auto;

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    transform-origin: 50% 50%;


    background: linear-gradient(-45deg, mat-color($app-primary, lighter), mat-color($app-primary), mat-color($app-primary, darker));
    background-size: 100% 100%;
    animation: Gradient 15s ease infinite;//, Rotation 5s infinite;

    @keyframes Rotation {
      0% {
        transform: translate(-25%, -50%) rotateZ(0deg);
      }
      50% {
        transform: translate(-25%, -50%) rotateZ(180deg);
      }
      100% {
        transform: translate(-25%, -50%) rotateZ(360deg);
      }
    }

    @keyframes Gradient {
      0% {
        background-position: 0% 50%
      }
      50% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0% 50%
      }
    }
  }

  &__block {
    width: 100%;
    position: relative;
  }

  &__full-block {
    height: 100%;
    width: 100%;
    position: relative;

    &--after-toolbar {
      @include xs {
        height: calc(100% - 53px);
      }
      @include gt-xs {
        height: calc(100% - 64px);
      }
    }
  }
}

.landing-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


.anchor {
  position: absolute;

  @include xs {
    top: -53px;
  }
  @include gt-xs {
    top: -64px;
  }
}
