@import "~sass/size";
@import "~sass/montserrat";
@import "~@angular/material/theming";

@mixin gravatar($size) {
  @if($size < 512) {
    background-image: url("https://gravatar.com/userimage/48307110/6987e3c43338eff8cee15af66ccfa2fd.jpeg?size=512");
  } @else {
    background-image: url("https://gravatar.com/userimage/48307110/6987e3c43338eff8cee15af66ccfa2fd.jpeg?size=" + $size);
  }
}

@mixin avatar($size) {
  $avatar-size-int: $size;
  $avatar-size: $avatar-size-int * 1px;
  $avatar-radius: $avatar-size / 2;
  height: $avatar-size;
  width: $avatar-size;
  border-radius: $avatar-radius * 2;
  @include gravatar($avatar-size-int);
  background-repeat: round;
}

@mixin home-width {
  @include gt-sm { width: 820px; }
  @include sm { width: 570px; }
  @include xs { width: 400px; }
}

.home-content {
  overflow-y: auto;
  height: 100%;
  padding: 10px;

  .intro {
    @include home-width;
    @include gt-sm {
      height: 380px;
    }
    @include sm {
      height: 240px;
    }
    @include xs {
      height: 360px;
    }
    padding: 10px;

    .information {
      flex: 1;
      padding: 10px;

      .text {
        user-select: none;
        font-weight: bold;

        .main {
          @include lt-sm {
            font-size: 2.0rem;
          }
          @include sm {
            font-size: 1.8rem;
          };
          @include gt-sm {
            font-size: 2.7rem;
          }
        }

        .secondary {
          @include lt-sm {
            font-size: 1.9rem;
          }
          @include sm {
            font-size: 1.2rem;
          };
          @include gt-sm {
            font-size: 1.6rem;
          }
        }
      }


    }


  }

  .announcement {
    @include home-width;

    > mat-card {

    }
  }

}

.landing {
  height: 100%;
  width: 100%;
  overflow: auto;

  &__block {
    width: 100%;
    position: relative;
  }

  &__full-block {
    height: 100%;
    width: 100%;
    position: relative;

    &--after-toolbar {
      @include xs {
        height: calc(100% - 53px);
      }
      @include gt-xs {
        height: calc(100% - 64px);
      }
    }
  }
}

.anchor {
  position: absolute;

  @include xs {
    top: -53px;
  }
  @include gt-xs {
    top: -64px;
  }
}

.landing-start {
  background-image: url("/assets/images/background.jpg");
  background-position-x: left;
  background-size: cover;
  height: 100%;

  &__first-line {
    color: white;
    font-variant-caps: all-petite-caps;
    font-size: 1.8rem;
    font-family: Montserrat, sans-serif;
    line-height: 0.7;
    padding-top: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
  }

  &__second-line {
    color: white;
    font-variant-caps: all-petite-caps;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    line-height: 0.7;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;

    @include xs {
      font-size: 4rem;
      width: min-content;
    }

    @include gt-xs {
      font-size: 6rem;
    }
  }

  &__third-line {
    color: white;
    font-variant-caps: all-petite-caps;
    font-size: 1.8rem;
    font-family: Montserrat, sans-serif;
    line-height: 0.7;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
  }

  &__link {
    border-radius: 20px;
    margin: 5px;
  }
}

.avatar {
  @include gt-sm { @include avatar(250) }
  @include sm { @include avatar(250) }
  @include xs { @include avatar(150) }

  filter: drop-shadow(0 2px 2px rgba(10, 16, 20, .24));
  border-width: 5px;
  border-color: white;
  border-style: solid;
  overflow: hidden;
}

.landing-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mouse-link {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 50px;

  > a {
    background-image: url('/assets/images/mouse.png');
    background-position: 50% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 30px;
    display: flex;
    cursor: pointer;
  }
}

.intro {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 10px;
  flex-flow: column wrap;

  &__summary {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    max-width: 250px;
  }
}
