@import "~sass/size";
@import "~@angular/material/theming";

@mixin gravatar($size) {
  background-image: url("https://gravatar.com/userimage/48307110/6987e3c43338eff8cee15af66ccfa2fd.jpeg?size=" + $size);
}

@mixin avatar($size) {
  $avatar-size-int: $size;
  $avatar-size: $avatar-size-int * 1px;
  $avatar-radius: $avatar-size / 2;
  height: $avatar-size;
  width: $avatar-size;
  border-radius: $avatar-radius;
  @include gravatar($avatar-size-int);
}

@mixin home-width {
  @include gt-sm { width: 820px; }
  @include sm { width: 570px; }
  @include xs { width: 400px; }
}

.home-content {
  overflow-y: auto;
  height: 100%;
  padding: 10px;

  .intro {
    @include home-width;
    @include gt-sm {
      height: 380px;
    }
    @include sm {
      height: 240px;
    }
    @include xs {
      height: 360px;
    }
    padding: 10px;

    .information {
      .text {
        @include lt-sm {
          font-size: 2.0rem;
        }
        @include sm {
          font-size: 1.8rem;
        };
        @include gt-sm {
          font-size: 2.7rem;
        }
        user-select: none;
        font-weight: bold;
      }

      .information-divider {
        width: 100%;
        margin: 10px;
      }

      .link {
        border-radius: 20px;
        margin: 5px;
      }
    }

    .avatar {
      @include gt-sm { @include avatar(300) }
      @include sm { @include avatar(200) }
      @include xs { @include avatar(150) }

      filter: drop-shadow(0 2px 2px rgba(10, 16, 20, .24));
      overflow: hidden;
    }
  }

  .announcement {
    @include home-width;

    > mat-card {

    }
  }

}
