<app-module-wrapper>
  <ng-template #wrapperContent>
    <div class="landing">
      <particles [style]="particles"
                 class="landing__background"
                 [params]="particlesParams">
      </particles>
      <div class="landing__full-block">
        <div id="home"></div>
        <app-landing-home (openDetails)="scrollTo('intro')"></app-landing-home>
      </div>
      <mat-toolbar class="landing-toolbar"
                   color="primary"
                   fxLayout="row"
                   fxLayoutAlign="center">
        <button mat-button
                ngx-scroll-to="home">
          <span translate>HOME.LINK.HOME</span>
        </button>
        <button mat-button
                ngx-scroll-to="intro">
          <span translate>HOME.LINK.INTRO</span>
        </button>
        <button mat-button
                ngx-scroll-to="story">
          <span translate>HOME.LINK.STORY</span>
        </button>
        <!--<button mat-button-->
        <!--ngx-scroll-to="news">-->
        <!--<span translate>HOME.LINK.NEWS</span>-->
        <!--</button>-->
      </mat-toolbar>
      <div class="landing__block">
        <div id="intro"
             class="anchor"></div>
        <app-landing-intro></app-landing-intro>
      </div>
      <div class="landing__block">
        <div id="story" class="anchor"></div>
        <app-story>
          <ng-container *ngFor="let item of storyItems">
            <app-story-element *appStoryElementDef
                               [point]="item.point">
              <p>{{item.text}}</p>
            </app-story-element>
          </ng-container>
        </app-story>
      </div>
      <!--<div class="landing__full-block landing__full-block&#45;&#45;after-toolbar">-->
      <!--<div id="news" class="anchor"></div>-->
      <!--news-->
      <!--</div>-->
    </div>
  </ng-template>
</app-module-wrapper>
