<div>
    <div *ngIf="logged">
        <!--<span>{{ user?.providerData[0]?.displayName }}</span>-->
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <img class="menu-image" [src]="user.avatarUrl">
        </button>
        <md-menu #menu="mdMenu" xPosition="before">
            <button md-menu-item (click)="logout()">
                <span translate>COMMON.AUTH.SIGN-OUT</span>
            </button>
        </md-menu>
    </div>
    <div *ngIf="!logged">
        <button md-button color="primary" (click)="login()">
            <span translate>COMMON.AUTH.SIGN-IN</span>
        </button>
    </div>
</div>
