<div>
    <div *ngIf="logged">
        <!--<span>{{ user?.providerData[0]?.displayName }}</span>-->
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <img class="menu-image" [src]="user.avatarUrl">
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="demoRequest()" *ngIf="!access('view-admin')">
                <span translate>COMMON.AUTH.MENU.DEMO-REQUEST</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <span translate>COMMON.AUTH.SIGN-OUT</span>
            </button>
        </mat-menu>
    </div>
    <div *ngIf="!logged">
        <button mat-button color="primary" (click)="login()">
            <span translate>COMMON.AUTH.SIGN-IN</span>
        </button>
    </div>
</div>
