<h2 mat-dialog-title>
    <span translate>COMMON.AUTH.DIALOG.TITLE</span>
</h2>
<mat-dialog-content>
    <div [ngSwitch]="inProgress">
        <div *ngSwitchCase="false" style="display: flex; justify-content: space-around; align-items: stretch; flex-direction: column;">
            <div style="display: flex; flex-direction: row;">
                <div class="google"></div>
                <button mat-button (click)="signInWithGoogle()">
                    <span translate>COMMON.AUTH.DIALOG.GOOGLE</span>
                </button>
                <!--<button mat-button>Sign in with GitHub</button>-->
            </div>

            <div style="display: flex; flex-direction: column;">
                <!-- <mat-input-container>
                     <input matInput placeholder="Login">
                 </mat-input-container>
                 <mat-input-container>
                     <input matInput placeholder="Password" type="password">
                 </mat-input-container>
                 <div style="display: flex; flex-direction: row; justify-content: center">
                     <button mat-button>Log in</button>
                     <button mat-button>Sign up</button>
                 </div>-->
            </div>
        </div>
        <div *ngSwitchCase="true" style="overflow: hidden;">
            <mat-spinner mode="indeterminate"></mat-spinner>
        </div>
    </div>
</mat-dialog-content>
