:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.intro {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 10px;
  flex-flow: column wrap;

  &__summary {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 230px;
    max-width: 230px;
  }
}
